<mat-toolbar>
  <span>Filter</span>
</mat-toolbar>
<p>Genre:</p>
<p></p>

<!-- <mat-button-toggle-group #group= "matButtonToggleGroup">
  <mat-button-toggle>blah</mat-button-toggle>
<!-- 
</mat-button-toggle-group> -->

<!-- <md-button-toggle-group name="fontStyle">
<md-button-toggle value="bold">hello  </md-button-toggle>
<md-button-toggle value="italic">hello  </md-button-toggle>
</md-button-toggle-group> -->

<button mat-raised-button color="accent">Fantasy</button>

<button mat-raised-button color="accent">Adventure</button>
<button mat-raised-button color="accent">Action</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="accent">Romance</button>
<button mat-raised-button color="accent">Comedy</button>
<button mat-raised-button color="accent">Horror</button>
<button mat-raised-button color="accent">Sci-fi</button>



<!-- <mat-form-field appearance="fill">
  <mat-label>Year of Release:</mat-label>
 <mat-form-field appearannce="standard">
<mat-slider min="1900" max="2020" step="1" value="2020"> 
 
</mat-slider>
 </mat-form-field> -->

 <!-- <p>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder">
  
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>  -->
<!-- I HATE SLIDERS AHHH -->
<p>Year: </p>