<md-toolbar>
  <span>Filter</span>
</md-toolbar>
<p>Genre:</p>
<p></p>
<!-- <mat-button-toggle-group #group= "matButtonToggleGroup">
  <mat-button-toggle>blah</mat-button-toggle>
<!-- 
</mat-button-toggle-group> -->

<!-- <md-button-toggle-group name="fontStyle">
<md-button-toggle value="bold">hello  </md-button-toggle>
<md-button-toggle value="italic">hello  </md-button-toggle>
</md-button-toggle-group> -->

<button md-raised-button color="accent">Fantasy</button>

<button md-raised-button color="accent">Adventure</button>
<button md-raised-button color="accent">Action</button>
<button md-raised-button color="accent">Accent</button>
<button md-raised-button color="accent">Romance</button>
<button md-raised-button color="accent">Comedy</button>
<button md-raised-button color="accent">Horror</button>
<button md-raised-button color="accent">Sci-fi</button>
<p></p>